@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';    
}
header{
    background-color: #2E948A;
    width: 100%;
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 50px;
}
.logo img{
    height: 50px;
    width: auto;
}
.nav-bar ul{
    display: flex; 
    margin-right: 50px;
    margin-left: 0;
    padding-left: 0;
      
}
.nav-bar li{
    padding: 15px;
    list-style: none;
    font-weight: bold;
    
}
.nav-bar li a{
    text-decoration: none;
    color: white;
    margin-left: 0;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin: 100px;
}
.main-left{
    margin: 0px;
    padding: 0px;
}
.main-left h1{
    font-size: 45px;
    color: #FF4081;
    margin-top: 0;
    margin-bottom: 0;
}     
.main-left p{
    font-size: 21px;
}    
.main-left button{
    font-size: 21px;
    padding: 10px 20px;
    color: #FF4081;
    border-radius: 62px;
    border: 2px solid #FF4081;
    cursor: pointer;
    transition: all 1s ease;
}
.main-left button:hover{
    color:white;
    background-color: #FF4081;
}    
#banner{
    height: 300px; 
}
.secundary{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 100px 50px;
}
.secundary img{
    height: 200px;
}
.secundary h3{
    color :#FF4081;   
}
.secundary button{
    color: white;
    background: #FF4081;    
    border-radius: 62px;
    border: 1px solid #FF4081;
    width: 180px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s ease;
}
.secundary button:hover{
    background-color: white;
    color:#FF4081;
}
.sobre-nos{
    margin: 100px 50px;
    font-family: 'nunito';
    
}
.sobre-nos h1{
    color:#009688;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-top: 150px;
}
.sobre-nos img{
    width: 104px;
    height: 104px;
}
.sobre-ambos{
    display:flex;
    justify-content: space-around;
    text-align: left;
}
.left{
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.right{
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.infos{
    margin: 10px;
}
.name{
    font-weight: bold;
}


.mais-conteudo h1{
    color: #009688;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 124px;
    margin-top: 50px;
}
.conteudos{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 50px;
}
.conteudos img{
    width: 300px;
    height: 180px;
    border: 1px solid grey;
}
.conteudos h3{
    margin-bottom: 0;
    color: #009688;
}
.conteudos p{
    margin-top: 0;
}
.mais-conteudo button{
    color:#FF4081;
    border: 1px solid #FF4081;
    border-radius: 60px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    padding: 10px 20px;
    transition: all 1s ease;
    cursor: pointer;
}
.mais-conteudo button:hover{
    color:white;
    background-color: #FF4081;
}
.botao{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #419488;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    
}
footer img{
    height: 100px;
    
}
.links-footer{
    display: flex;
    flex-direction: column;
}
.links-footer a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.botoes-footer{
    display: flex;
    flex-direction: column;
}
.botoes-footer button{
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px 40px;
    margin: 5px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}
.botoes-footer button:hover{
    color:#419488;
    background-color: white;    
}

.curso-especifico{
    display: flex;
    justify-content: center;
    margin: 70px
}
.titulo-cursos h1{
    color: #FF4081;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0;
    margin-left: 180px;
}
.titulo-cursos p{
    margin-top: 0;
    margin-left: 180px;
    margin-bottom: 80px;
}
.curso-especifico img{
    width: 250px;
    height: 253px;
}
.descricao-curso{
    margin: 0 0 20px 50px;
    
}
.descricao-curso h2{
    color:#FF4081;
    font-weight: bold;
    margin-top: 0;
}
.descricao-curso button{
    background: #419488;
    border-radius: 62px;
    color: white;
    width: 200px;
    border: 1px solid #419488;
    font-size: 17px;
    padding: 12px 17px;
    text-align: center;
    cursor: pointer;
}
.descricao-curso button:hover{
    background-color: white;
    color: #419488;
}
.investimento-iniciante{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.investimento-iniciante h1{
    color: #FF4081; 
    font-size: 55px;
    margin-bottom: 0;
    margin-left: 175px;
}.investimento-iniciante p{
    margin-top: 15px;
    margin-left: 180px;
    margin-bottom: 80px;
    font-size: 20px; 
    padding-top: 5px; 
}
.investimento-iniciante img{
    width: 340px;
    height: 341px;
    margin-left: 80px;
}
.aula-especifica{
    display: flex;
    justify-content: center;
    
}
.video-aula{
    width: 400px;
    height: auto;
    margin: 30px 30px 30px 15px;
}
.descricao-aula{
    margin-left: 80px;
    margin: 30px 60px 30px 30px;   
}
.descricao-aula h2{
    color:#FF4081;
}
.contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.contato img{
    width: 400px;
    height: 400px;    
}
.formulario h1{
    font-size: 40px;
    color: #FF4081;
    margin: 10px;
}
.formulario input{
    margin: 10px;
    width: 400px;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 5px;
    font-size: 13px;
}
#btn-enviar{
    background: #FF4081;
    border-radius: 50px;
    width: 120px;
    font-family: 'Nunito';
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
#msg-area{
    margin: 10px;
    width: 400px;   
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
}
.descricao-blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 70px;
}
.descricao-blog h1{
    font-size: 40px;
    color: #009688;
}
.imgs-blogs{
    width: 420px;
    height: 230px;
}
.blog{
    display: flex;
    justify-content: space-around;
    margin: 80px 50px;
    
}
.blog h3{
    font-size: 25px;
    color: #FF4081;   
}
.blog p{
    font-size: 15px;
}
@media(max-width: 960px){
    .conteudos {
        display: flex;
        flex-wrap: wrap; 
          
    }
    .mais-conteudo{
        align-items: center;
    }
    .contato{
        flex-wrap: wrap-reverse;
    }
    .titulo-cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo-cursos h1{
        margin-left: 0;
        margin-bottom: 0;
    }
    .titulo-cursos p{
        margin-left: 0;
        margin-bottom: 0;
    }
@media(max-width: 890px){
    .main{
        flex-wrap:wrap-reverse
    }
    .secundary {
        display: flex;
        flex-wrap: wrap;    
    }
}
@media(max-width: 680px){
    .mais-conteudo h1{
        align-items:  center;
        margin: 10px;
        text-align: center;
        
    }
    .sobre-ambos {
        display: flex;
        flex-wrap: wrap;
        }
    
    .logo-footer{
        display: none;
    }     
    header {
        min-height: 180px;
        width: 100%;
        justify-content: space-around;
        
    }
    .logo img{
        width: 200px;
        height: auto;
    }
    .nav-bar ul{
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    header li{
        font-size: 20px;
        text-align: center;
        padding: 0;
    }
    .curso-especifico{
        flex-direction: column;
        align-items: center;
    }
    .curso-especifico img{
        margin-bottom: 50px;
    }    
}
@media(max-width: 535px){
    header{
        height: 300px;
        padding: 5px;
        flex-wrap: wrap;
        text-align: center;
        min-width: 310px;
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin:0;
    }
  
    .nav-bar li{
        
        font-size: 30px;
        border: 1px solid white;
        margin: 4px;
        border-radius: 15px;
        width: 250px;
        text-align: center;
        padding: 3px;
            
    }
    header img{
    margin-top: 15px;
    }
    footer{
        height: 300px;
        padding: 5px;
        flex-direction: column;
        min-width: 310px;
    }
    footer a{
        font-size: 30px;
        border: 1px solid white;
        margin: 2px;
        border-radius: 15px;
        width: 250px;
        text-align: center;
        padding: 3px;
    }
    #banner{
        width: 200px;
        height: 200px;
    }
    .conteudos{
        margin:5px;
        padding: 0;
    }
    